h1 {color: purple;
    font-family: Arial, Helvetica, sans-serif;}
li {color: blue;font-family: Arial, Helvetica, sans-serif;}
html {background-color: orange;}
p {font-family: Arial, Helvetica, sans-serif;}
